<h1>ERC20 Tokens</h1>
<p>
  Ethereum is not only useful for transferring Ether, but also allows code to be executed. This happens via smart contracts.
  Smart contracts are open and visiable classes of code that can be executed by a network. Because everything is open, everyone
  (Ethereum node or human) can validate the code, observe how it is executed and decide then to use it. One of the primary
  examples of how smart contracts can be used, is in the exchange of value. You could, for example, make a smart contract
  to determine the ownership of an appartment. Everyone can validate who the owner is, everyone can check who the previous
  owners are, etc. In this step, we are going to deploy a contract to transfer Ether-like currencies.
</p>
<p>
  Smart contracts can be written is a couple of languages, but for now, we will only focus on the JavaScript-inspired Solidity
  language. For now, we also don't need to code in Solidity. This will be covered later on. In this exercise we will only
  focus on translating existing Solidity code into Ethereum bytecode.
</p>
<h2>Step 1/4: deploying a contract</h2>
<p>
  In the root folder of this project, you can find a contracts folder. There are a couple of files in there. For now, we will
  look at the <span class="code">ERC20.sol</span>file. This is a Solidity file, thus a smart contract for the Ethereum
  network. Feel free to take a look and inspect the code. It may look familiar to Javascript. The contract follows the standards
  of an ERC20 contract.
</p>
<p>
  There are several ERC-contracts. ERC stands for Ethereum Request for Comment, which is a form of standardization within the
  Ethereum Network. Each ERC-contract is a proposal to a solution of a certain problem. This is purely community driven,
  meaning that the ERC-contract is as valuable as the community finds it. The Ethereum Foundation has a github entirely dedicated
  to proposing improvements to the Ethereum network. Part of this is these ERC's. ERC's are made by creating an issue on
  this page, where the issue ID is the number of the ERC (e.g. issue number 20 is ERC20). ERC20 is a community-standard for
  tokens, which can be transfered across users and solves the problem of transferring value (that is not Ether). ERC20 contracts
  are widely used to transfer any kind of value and is by now the trading standard. If you want to learn more about this
  standard, you can look this up on <a href="https://github.com/ethereum/eips/issues/20">the Ethereum github page</a> or
  look at <a href="https://theethereum.wiki/w/index.php/ERC20_Token_Standard">the Etherum wiki</a>
  to read more on the entire interface and its options.
</p>
<p>
  So now we know about the contract, its time to deploy it on the Ethereum network so that we can interact with our own token.
  To do so, we first have to compile it into bytecode. Then, we need to make a transaction, in which we tell the network
  to store the contract bytecode. After that, we need to tell the web application the generic interface of the contract,
  so that we can interact with it via the application.
</p>
<p>
  So let's start with compiling the code. Open a new command window and direct it to the the contracts folder. In there, execute
  <span class="code">solcjs --abi --bin --output-dir "./build" "ERC20.sol"</span> to compile the <span class="code">GenericToken.sol</span>
  file to bytecode in the build directory as "ERC20_sol_GenericToken.bin" and build the contract definitions as Abstract Binary
  Interface (abi) in "ERC20_sol_GenericToken.abi".
</p>
<p>
  Now it's time to deploy this contract to the network. For this, go to <span class="code">/src/contracts</span> instead
  of the contracts folder in the root folder. This folder contains the Javascript implementation of the contract, used in
  the web application. You can already see <span class="code">ERC20.json</span> file. Because Angular only gets JavaScript-esque
  interfaces, you can't just paste the .bin and .abi files. Instead, the <span class="code">ERC20.json</span> contains a
  abi and bin variables. It's as easy as just pasting the codes there.
</p>
<p>After that, take a look at the ERC20 service method <span class="code">deployToken</span>. This method takes a formdata
  object a parameter, which contains the name of the token and the total supply of the token. This is then passed on to the
  deployment service in <span class="code">/src/services/deployment.service.ts</span>. In this method, you should make a
  transaction just like before, but instead of sender value (Ether), we send the contract data. The Web3 documentation has
  more info on deploying contracts, found <a href="https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#eth-contract">here</a>.
  However, there is an order. First of, we already retrieved the contract object for you. From this, you have to create a
  deployment object from this contract. This results in a Ethereum function objects, which can be encoded using the
  <span class="code">encodeAbi</span> method.</p>
<p>
  Make sure the form below deploys your contract by implementing the <span class="code">deployContract</span> method.
</p>
<div>
  <div class="input-error" *ngIf="_createErc20Error">
    Looks like something went wrong while deploying your contract...
  </div>
  <div class="label">
    Token name
  </div>
  <div class="input-wrapper">
    <input class="input name" [(ngModel)]="_createErc20FormData.name" />
  </div>
  <div class="label">
    Total supply
  </div>
  <div class="input-wrapper">
    <input class="input number" [(ngModel)]="_createErc20FormData.totalSupply" />
  </div>
  <div class="button-wrapper">
    <button (click)="deployToken()">Deploy</button>
  </div>
</div>
<div *ngIf="step1Completed">
  <h2>Step 2/4: track your tokens</h2>
  <p>
    Your token has deployed! The address is {{this.lastContractAddress}}. From now on, your own cryptocurrency is live and running!
    That's right! ERC20 is the standard for cryptocurrency.
  </p>
  <p>
    This means you actually want to see how much you own of it and you want to share your tokens. For this, you should fill in
    the <span class="code">getBalance</span> and <span class="code">transfer</span> methods of the Erc20 Service. For
    this, you can use the <span class="code">methods</span> in the contract class you can get from <span class="code">getContract</span>
    in the Erc20 Service.
  </p>
  <p>
    If you want to test another contract, you can use their contract address below.
  </p>
  <div class="input-wrapper">
    <input class="input hex address" [(ngModel)]="_contractPointer" placeholder="0x012345..." />
  </div>

  <p>
    Regardless of which ERC20 contract you use, below you should be able to see the name of the token and your balance.
  </p>
  <table *ngIf="!!_token">
    <tr>
      <td>
        Name:
      </td>
      <td>{{_token.name}}</td>
    </tr>
    <tr>
      <td>
        Balance:
      </td>
      <td>
        {{_token.balance}} (without decimals)
      </td>
    </tr>
  </table>
</div>
<div *ngIf="step2Completed">
  <h2>Step 3/4: transfer your token</h2>
  <p>
    The For this step step in this task is to execute a function on this contract. This will cause your contract to tranfer some
    of the tokens you have to someone else. This is done in the <span class="code">transfer</span> method in the Erc20
    Service.
  </p>
  <div class="input-error" *ngIf="_transferError">
    Something went wrong while transferring {{_token.name}}...
  </div>
  <div class="label">
    Transfer to
  </div>
  <div class="input-wrapper">
    <input class="input hex address" [(ngModel)]="_transferTo" placeholder="0x012345..." />
  </div>
  <div class="label">
    Amount
  </div>
  <div class="input-wrapper">
    <input class="input number" type="number" [(ngModel)]="_transferAmount" />
  </div>
  <div class="button-wrapper">
    <button (click)="transfer(_token.address)">Transfer</button>
  </div>
</div>
<div *ngIf="step3Completed">
  <h2>Step 4/4: watching for events</h2>
  <p>
    The final step in this task is to watch for any changes to your smart contract. If you yourself make a transaction, you know
    you should change what is in your frontend, but other users of your contract may not know the change. In order to make
    sure every user can be updated to the change (without refreshing their browser), is by listening to events. Specifically,
    listen to the <span class="code">Transfer</span> event. Every time a transaction is made on an ERC20 contract, the
    Transfer event should be emitted.
  </p>
  <p>
    Your task is to make that event happen, and let your browser notice it. The code to how your application should respond to
    the event is already made. If an event is registered, the balance above should also be updated. In addition, if it is
    the first time for you to trigger an event, the fourth task will unlock in the navigation at the top of the page. The
    only thing you have to do, is to make the call to actually start listening for events. This is done in the <span
      class="code">initTokenEventEmitter</span> method in the Erc20 Service.
  </p>
</div>