<div class="content">
  <div class="menu-wrapper">
    <table class="menu" *ngIf="_shouldShowMenu">
      <tr>
        <td *ngFor="let menuItem of _menuItems | async" class="menu-item" [ngClass]="{'active': isActive(menuItem)}">
          <a [href]="menuItem.href">{{menuItem.label}}</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="banner-wrapper">
    <div class="my-address" *ngIf="hasAddress()">My address is {{ getAddress() }}</div>
    <img src="/assets/images/banner.jpg" class="banner" />
  </div>
  <div id="body">
    <router-outlet></router-outlet>
  </div>
</div>
