/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  display: block;
  position: relative;
}

* {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-size: 26px;
  color: rgb(19, 34, 72);
}

h2, h3, h4 {
  color: rgb(168, 113, 43);
}

p, li {
  line-height: 22px;
  font-size: 16px;
}

.code, .snippet {
  font-family: 'Courier New', Courier, monospace;
  background: #CCF;
  line-height: 24px;
  font-size: 14px;
}

.code {
  padding: 0 4px;
}

.snippet {
  display: inline-block;
  padding: 8px 14px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

input.input {
  width: 220px;
  padding: 0 20px;
  line-height: 32px;
  margin: 0 20px 12px 0;
  border-radius: 3px;
}

input.hex {
  font-family: monospace;
  font-size: 14px;
}

input.private-key {
  width: 540px;
}

input.address {
  width: 300px;
}

.input-error {
  color: red;
  font-style: italic;
  margin-bottom: 20px;
}
