@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Light"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semilight"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Bold"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semibold"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

#erc721-application {
  height: 900px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

#erc721-application * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.application-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1;
}

.application-overlay-background {
  position: relative;
}

.application-overlay .form {
  padding: 0;
  border-spacing: 0;
  /** padding: 12px 20px; */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.9);
  margin: 60px auto;
}

.application-overlay .form td {
  padding: 0 15px 12px 5px;
}

.application-overlay .add-plot-submit {
  height: 50px;
  padding-top: 20px;
}

.application-overlay .add-plot-submit img {
  max-height: 50px;
}

.application-wrapper {
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 0;
  border-spacing: 0;
  margin: 0;
  vertical-align: top;
}

.application-window {
  margin: 0;
  border-radius: 5px;
  background: rgb(236, 233, 216);
  border: 3px outset rgb(5, 83, 235);
  border-top: 0;
}

.application-window button {
  background: rgb(243, 242, 238);
  margin: 0 20px 20px 0;
  border: 2px ridge rgb(115, 146, 229);
  border-radius: 3px;
  padding: 2px 12px;
  float: right;
}

.application-topbar {
  background: url("/assets/images/application-header-background.jpg") repeat-x;
  color: #FFFFFF;
  margin-left: -1px;
  position: relative;
}

.application-topbar .button {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: #AA2222;
  text-align: center;
  cursor: pointer;
}

.application-topbar h1,
.application-topbar h2,
.application-topbar h3,
.application-topbar h4,
.application-topbar h5,
.application-topbar a {
  color: #FFFFFF;
  line-height: 32px;
  font-size: 14px;
  margin: 0;
  margin-left: 32px;
  padding: 0;
  text-shadow: 1px 1px #000000;;
}

.application-content {
  height: 100%;
  overflow-y: scroll;
  vertical-align: top;
}

.application-plots, .application-plot-info {
  width: 100%;
}

.application-plot .seperator {
  position: relative;
  height: 1px;
  width: 70%;
  margin: 0 auto;
  background: darkgrey;
}

.application-plot {
  padding-bottom: 20px;
  width: 100%;
  padding: 0 20px ;
}

.plot-symbol {
  text-align: right;
  font-weight: 700;
}

.plot-price {
  width: 100%;
}

.application-footer {
  vertical-align: top;
}

