<h1>ERC721 tokens</h1>
<p>
  In this exercise we will be looking into getting into coding some of the smart contract and the communication with it
  as well. For this, you need a basic understanding of Typescript or at least Javascript. If not, it might be wise to
  look if you can team up with someone, but it shouldn't be that hard.
</p>
<p>
  As a reminder, applications can communicate with contracts in three ways: getting data is done using calls, altering
  data is done using transactions and waiting for changes is done using events.
</p>
<h2>
  Use case: trading plots
</h2>
<p>
  In this case, you may assume Ether as valid currency. A customer wants to research the opportunities to own plots in
  a smart contract and has found that the ERC-standard 721 is perfect for this. It allows the ownership of a unique
  token, rather than a balance of tokens as seen in ERC20, indentified by a unique integer. They provide you with the
  <span class="code">ERC721.sol</span> file in the contracts folder. There are some things that the client wants to
  change to meet the following requirements:
</p>
<ul>
  <li>every user on the contract should have an Ether balance, allowing people to buy plots that are for sale;</li>
  <li>the contract should have zero predefined plots, but instead, the contract owner should be able to create plots on
    the go;</li>
  <li>when a plot is created, the plot should go up for sale immediately at a price given on creation;</li>
  <li>when a plot gets up for sale (or the price changes), a PlotForSale event should trigger with the identifier and
    the new price of the plot.</li>
</ul>
<p>
  After editing the contract so it meets the requirements, you have to create the communication between this
  application and the contract. This is done is the Erc721Service found in <span class="code">/src/services/erc721.service.ts</span>.
  The method headers have already been estabilished.
</p>
<p>
  The part below is part of the client dashboard provided by the coworker web developers. Your task is to make it work
  with your developed smart contract.
</p>
<div id="erc721-application">
  <div class="application-overlay" *ngIf="!!_addPlotFormData">
    <div class="application-overlay-background">
      <table class="form add-plot">
        <tr>
          <td colspan="2">
            <h3>
              Add plot
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            Name
          </td>
          <td>
            <input type="text" [(ngModel)]="_addPlotFormData.name" />
          </td>
        </tr>
        <tr>
          <td>
            Symbol
          </td>
          <td>
            <input type="text" [(ngModel)]="_addPlotFormData.symbol" />
          </td>
        </tr>
        <tr>
          <td>
            Price
          </td>
          <td>
            <input type="number" [(ngModel)]="_addPlotFormData.price" />
          </td>
        </tr>
        <tr>
          <td colspan="2" class="add-plot-submit" [class.right]="!_addPlotLoading" [class.center]="_addPlotLoading">
            <button (click)="closeAddPlot()" *ngIf="!_addPlotLoading">
              Close
            </button>
            <button (click)="submitAddPlot(_addPlotFormData)" *ngIf="!_addPlotLoading">
              Add plot
            </button>
            <img *ngIf="_addPlotLoading" src="/assets/images/application-loader.gif" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <table class="application-wrapper">
    <tr class="application-header">
      <td>
        <h3>
          Plot Manager Plus
        </h3>
      </td>
    </tr>
    <tr class="application-content">
      <td>
        <!-- If all is well, you should be able to just remove the following line and fix the code for retrieving the data. The display of data is already done -->
        <span class="todo">// Todo This should be a list of plots for sale</span>
        <table class="application-plots">
          <tr *ngFor="let 'plot' of _plots | async">
            <td class="application-plot">
              <table>
                <tr>
                  <td colspan="2" class="plot-name">
                    {{ !!plot.name && !!plot.name.length ? plot.name : plot.id }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="application-footer">
      <td>
        <button (click)="openAddPlot()">New plot</button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="!_deploymentLoading">
  <p (click)="deployClipboard()">Deploy contract from clipboard</p>
  <p *ngIf="!!_deployedContract && !!_deployedContract.length">
    Last deployed contract address: {{_deployedContract}}
  </p>
</div>
<p *ngIf="_deploymentLoading">Loading...</p>
